<div class="row">
  <div class="col-sm-2">
    <app-lateral-asistente></app-lateral-asistente>
  </div>
</div>

<!--Informacion de la pagina-->
<body  >
  <h1 text-aling="center" class="h3 mb-4 text-gray-800">Informacion de la Exposición</h1>
  <hr>
  <div class="card shadow mb-4">
<div class="card">
    <div class="card-body">
      <div class="alert alert-primary" role="alert">
        <h3><span>1</span> Convocatoria</h3>
      </div>
      <p class="card-text">Se invita a los alumnos y maestros de la UTNG, Campus Dolores Hidalgo
        y Victoria de los programas de TSU y Licenciaturas del área
        Económico-Administrativo a participar en la Quinta expo virtual 2021,
        “EMPRENDE TÚ FUTURO” y se un Águila en los Negocios, que se
        llevará a cabo los días 4, 5 y 6 de agosto del 2021.</p>
      <p class="card-text"><small class="text-muted">CATEGORÍAS DE PARTICIPACIÓN<br></small>• Carteles<br>
        • Prototipos<br>
        • Plan de Negocios</p>
    </div>
    <div align="center">
      <img id="croquis" src="./assets/pics/emprende.JPG"  height="300px" width="450px" alt="...">
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-primary" role="alert">
        <h3><span>2</span> Eventos</h3>
      </div>
      <p class="card-text">Aqui se encuentra los eventos</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div align="center">
      <img id="croquis" src=""  height="300px" width="450px" alt="...">
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-primary" role="alert">
        <h3><span>3</span> Croquis</h3>
      </div>
      <p class="card-text">Aqui se encuentra el croquis</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div align="center">
      <img id="croquis" src="./assets/pics/croquis.jpg"  height="300px" width="450px" alt="...">
    </div>
    
  </div>
  </div><br><br>
  
</body>