<div class="row">
    <div class="col-sm-2">
        <app-lateral-asistente></app-lateral-asistente>
    </div>
</div>

<body>
  <h1 text-aling="center" class="h3 mb-4 text-gray-800">Registra tu asistencia</h1>
  <hr>
<br>
<div class="card shadow mb-4">
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="nombre" class="form-label">Clave del registro de participante:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Clave de registro" name="nombre">
    </div>
    <div class="mb-3 mt-3">
      <label for="nombre" class="form-label">Clave de la actividad:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Clave de la actividad" name="nombre">
    </div>
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Asististe al evento?</label>
      <select class="form-select" aria-label="Default select example">
      <option selected></option>
      <option value="1">Si</option>
      <option value="0">No</option>
    </select>
    </div>
    <button id="button" type="submit" class="btn btn-primary">Aceptar</button>
  </form><br>
</div>

</body>
